<ion-content>
  <app-header (navigation)="navigation()" [HEADING_TEXT]="this.HEADING" [IS_BACK]="true"></app-header>

  <ion-grid class="ion-no-margin ion-no-padding">

    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col size="12" class="ion-text-center ion-no-margin ion-no-padding">
        <span class="material-symbols-outlined">
          card_giftcard
          </span>
      </ion-col>
    </ion-row>

    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col size="12" class="ion-text-center ion-no-margin ion-no-padding">
        <ion-text class="choose_amount_heading">Voucher Summary</ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="gift-voucher-amount ion-margin">
      <ion-col size="12" class="ion-text-center ">
        <ion-text class="choose_amount_heading">Gift voucher amount</ion-text>
        <ion-text > {{ TOTAL_AMOUNT | currency: 'EUR'}} </ion-text>
      </ion-col>
    </ion-row>

    <!--<ion-row class="gift-voucher-amount ion-margin">
      <ion-col size="12" class="ion-text-center ">
        <ion-text class="choose_amount_heading">Send receipt to:</ion-text>
        <ion-text > {{ SEND_REEIPT_TO }} </ion-text>
      </ion-col>
    </ion-row>-->

    <ion-row class="gift-voucher-amount ion-margin">
      <ion-col size="12" class="ion-text-center ">
        <ion-text class="choose_amount_heading">Send voucher to:</ion-text>
        <ion-text > {{SEND_REEIPT_TO}} </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="gift-voucher-amount ion-margin" style="display: {{ PAID ? 'block' : 'none'}};">
      <ion-col size="12" class="ion-text-center ">
        <ion-text class="choose_amount_heading">Your VoucherCode:</ion-text>
        <ion-text style="font-size: 22px; color: #5eaa11;"> {{Voucher_Code}} </ion-text>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid class="ion-no-margin ion-no-padding">
    <ion-row class="ion-margin-top ion-margin-start ion-margin-end" style="display: {{ !PAID ? 'block' : 'none'}};">
      <ion-col size="6" class="ion-margin-top">
        <label >Total: {{ TOTAL_AMOUNT | currency: 'EUR'}}</label>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="block" class="" id="open-modal" (click)="buy()"> <ion-text>Buy Now</ion-text></ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
  <!-- The Modal -->
  <div id="paymentModal" class="modal" style="display: {{ PAYMENT_MODEL_OPEN ? 'block' : 'none'}};">

    <!-- Modal content -->
    <div class="modal-content"  style="background:{{this.dataService.BACKGROUND_COLOR}} !important;">
      <div class="modal-header" style="background:{{this.dataService.BUTTON_COLOR}} !important; border: 1px solid {{this.dataService.BUTTON_COLOR}}">
        <span class="close" (click)="PAYMENT_MODEL_OPEN = false;">&times;</span>
        <h2 class="online-payment-txt">Online Payment</h2>
      </div>
      <div class="modal-body" style="background:{{this.dataService.BUTTON_COLOR}} !important; border: 1px solid {{this.dataService.BUTTON_COLOR}}">
        <ion-card class="welcome-card">
          <ion-img [src]="this.imageService.STRIPE_IMAGE"></ion-img>
          <ion-card-header>
            <ion-row style="color:{{this.dataService.TEXT_COLOR}} !important;">
              <ion-col>Total Payment</ion-col>
              <ion-col size="6.8"> {{ this.TOTAL_AMOUNT | currency: 'EUR'}} </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <form action="/" method="post" id="payment-form">
              <div class="form-row">
                <div id="card-element">
                </div>
                <!-- Used to display Element errors -->
                <div id="card-errors" role="alert"></div>
              </div>
              <ion-button
                type="submit"
                style="--background:{{this.dataService.BUTTON_COLOR}} !important; --background-activated : {{this.dataService.BUTTON_COLOR}} !important;"
                class="Confirm"
                expand="full">
                <ion-text>Confirm Payment</ion-text>
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="modal-footer" style="background:{{this.dataService.BUTTON_COLOR}} !important; border: 1px solid {{this.dataService.BUTTON_COLOR}}">
        <h3>Modal Footer</h3>
      </div>
    </div>

  </div>
</ion-content>
<app-footer></app-footer>
