<ion-content>
  <app-header (navigation)="navigation()" [HEADING_TEXT]="this.HEADING" [IS_BACK]="true"></app-header>

  <ion-grid class="ion-no-margin ion-no-padding">

    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col size="12" class="ion-text-center ion-no-margin ion-no-padding">
        <span class="material-symbols-outlined">
          card_giftcard
          </span>
      </ion-col>
    </ion-row>

    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col size="12" class="ion-text-center ion-no-margin ion-no-padding">
        <ion-text class="choose_amount_heading">Voucher Summary</ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="gift-voucher-amount ion-margin">
      <ion-col size="12" class="ion-text-center ">
        <ion-text class="choose_amount_heading">Gift voucher amount</ion-text>
        <ion-text > {{ TOTAL_AMOUNT | currency: 'EUR'}} </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="gift-voucher-amount ion-margin">
      <ion-col size="12" class="ion-text-center ">
        <ion-text class="choose_amount_heading">Send receipt to:</ion-text>
        <ion-text > {{ SEND_REEIPT_TO }} </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="gift-voucher-amount ion-margin">
      <ion-col size="12" class="ion-text-center ">
        <ion-text class="choose_amount_heading">Send voucher to:</ion-text>
        <ion-text > {{SEND_VOUCHER_TO}} </ion-text>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid class="ion-no-margin ion-no-padding">
    <ion-row class="ion-margin-top ion-margin-start ion-margin-end">
      <ion-col size="6" class="ion-margin-top">
        <label >Total: {{ TOTAL_AMOUNT | currency: 'EUR'}}</label>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="block" class="" (click)="buy()"> <ion-text>Buy Now</ion-text></ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
<app-footer></app-footer>