ion-footer{

    ion-img {
      width: 22px;
      height: 22px;
    }

    ion-icon {
        color: #fff;
        font-size: 27px;
    }

    ion-text {
        color: #fff;
        font-size: 12px;
    }
}
