<ion-footer class="ion-no-border">
  <ion-toolbar>

  <ion-tabs>
    <ion-tab-bar slot="bottom">


      <ion-tab-button [routerLink]="['/']">
        <ion-icon name="home"></ion-icon>
        <ion-text >Home</ion-text>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/my-booking-list']">
        <ion-icon name="calendar"></ion-icon>
        <ion-text >Bookings</ion-text>
      </ion-tab-button>


      <ion-tab-button [routerLink]="['/profile']">
        <ion-icon name="person" ></ion-icon>
        <ion-text >Profile</ion-text>
      </ion-tab-button>

      <ion-tab-button (click)="logout()" *ngIf="IS_LOGIN">
        <ion-icon name="log-out" ></ion-icon>
        <ion-text >Logout</ion-text>
      </ion-tab-button>

      <ion-tab-button (click)="login()" *ngIf="!IS_LOGIN">
        <ion-icon name="log-in" ></ion-icon>
        <ion-text >Login</ion-text>
      </ion-tab-button>

      <!-- <ion-tab-button [routerLink]="['/stripe']">
        <ion-icon name="person" ></ion-icon>
        <ion-text>stripe</ion-text>
      </ion-tab-button> -->

    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
</ion-footer>
