ion-footer{

    ion-tab-bar {
        --background: #047473;
    }

    ion-icon {
        color: #fff;
        font-size: 27px;
    }

    ion-text {
        color: #fff;
        font-size: 12px;
    }
}
