<ion-footer class="ion-no-border">
  <ion-toolbar>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
     

      <ion-tab-button [routerLink]="['/']">
        <ion-icon name="home"></ion-icon>
        <ion-text>Home</ion-text>
      </ion-tab-button>

      <ion-tab-button >
        <ion-icon name="calendar"></ion-icon>
        <ion-text>Schedule</ion-text>
      </ion-tab-button>
      

      <ion-tab-button >
        <ion-icon name="person" ></ion-icon>
        <ion-text>Profile</ion-text>
      </ion-tab-button>

      <ion-tab-button >
        <ion-icon name="notifications" ></ion-icon>
        <ion-text>Alert</ion-text>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
</ion-footer>