<ion-content>
  <app-header (navigation)="navigation()" [HEADING_TEXT]="this.HEADING" [IS_BACK]="true"></app-header>


    <ion-row class="select-text">
      <ion-col size="12" class="ion-text-center">
        <ion-text>Please select one</ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="select-dilivery-type">
      <ion-col size="6" class="free">
        
        <ion-card>
          <ion-card-content>
            vjiay
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" class="paid">
        <ion-card>
          <ion-card-content>
            vjiay
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
</ion-content>
<app-footer></app-footer>