ion-content {

    .select-text {

        color: #047473;
        margin-top: 16px;
        font-weight: bold;
    }

    .select-dilivery-type {

        ion-card {

            height: 200px;
        }
    }
}