ion-content {

  ion-card{
    border: 1px solid;
    border-radius: 16px;
    margin: 2px;
    margin-inline:5px;
    color: black;
    padding: 17px 8px;
  
  }
  
  ion-card-content{
    padding: 0;
  }
  
  ion-grid{
    padding: 0;
  }
  
  .main-grid{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  h6{
    font-size: 12px;
  }
  
  .main-row{
    margin: 10px;
  }
  
  .span-content{
    padding-top: 15px;
  }
  
  
  .card1{
    padding: 5px 8px !important;
  }
  
  .img2{
    padding-top: 10px;
  }
  
  
  img{
    max-width: 65px;
  }
  
}