ion-content {

    ion-icon {
        font-size: 70px;
    }
    .hours {
        line-height: 18px;

        .hours-heading {
            font-weight: bold;
            color: black;
        }
    }

    .email-card {
        height: 25%;
    }
}