ion-content {

    .fisrt_div {
        
        margin-top: 15%;
        ion-button {
            
            --background: #047473;
            --border-radius: 3px;

            ion-text {
                font-weight: bold;
            }
        }
    }

    .staff_list {
        margin: 15px;
        border-radius: 5px;
        --background: #eeeeef;
        color: #000;
        border: 2px solid #d0cbdd;

        ion-thumbnail {
            border-radius: 50% !important;
            overflow: hidden;
        }

        h3{
            font-weight: bold;
            font-size: 15px;
        }
    }
}