<ion-content>
  <app-header (navigation)="navigation()" [HEADING_TEXT]="this.HEADING" [IS_BACK]="true"></app-header>
  <div class="green-background"></div>
  <div class="card-list">
    <ion-grid class="ion-no-margin ion-no-padding">
      <ion-row class="ion-no-margin ion-no-padding" style="margin-top: 10px;">
        <ion-col size="12" class="ion-text-center ion-no-margin ion-no-padding">
          <ion-text class="page_title">Buy a Voucher</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-margin ion-no-padding" style="margin-top: 10px;">
        <ion-col size="12" class="ion-no-margin ion-no-padding">
          <ion-text class="choose_amount_heading">Amount</ion-text>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin select-amount-row" style="margin-top: unset;">

        <ion-col size="3" class="ion-text-center" *ngFor="let price_detail of PRICE_LIST">

          <ion-button
            expand="block"
            size="small"
            *ngIf="price_detail.is_button"
            [class.active]="price_detail.is_active"
            [class.inactive]="!price_detail.is_active"
            (click)="selectPrice(price_detail.id)"
            >
            <ion-text> {{ price_detail.price | currency: 'EUR'}}</ion-text>
          </ion-button>


          <ion-input
            placeholder="Custom"
            [class.active]="price_detail.is_active"
            [class.inactive]="!price_detail.is_active"
            *ngIf="!price_detail.is_button"
            (click)="selectPrice(price_detail.id)"
            [(ngModel)]="CUSTOM_PRICE"
            >
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-margin ion-no-padding">
        <ion-col size="6" class="ion-no-margin ion-no-padding">
          <img [src]="this.imageService.GIFT_IMG">
        </ion-col>
        <ion-col size="6" class="request-tabs ion-no-margin ion-no-padding">
          <ion-row [class]="SEND_TO_ME  ? 'active' : 'inactive'" (click)="SEND_TO_ME = true;">
            <ion-text  class="app-text-color">Send to me</ion-text>
          </ion-row>
          <ion-row [class]=" !SEND_TO_ME  ? 'active' : 'inactive'" (click)="SEND_TO_ME = false;">
            <ion-text  class="app-text-color">Send to someone</ion-text>
          </ion-row>
        </ion-col>
      </ion-row>

    </ion-grid>



    <ion-grid class="send_to_me ion-no-margin" *ngIf="SEND_TO_ME">
      <ion-row class="ion-margin">
        <ion-col size="6">
          <label>First Name</label>
          <ion-input type="text" [(ngModel)]="F_FIRST_NAME"></ion-input>
        </ion-col>

        <ion-col size="6">
          <label>Last Name</label>
          <ion-input type="text" [(ngModel)]="F_LAST_NAME"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin">
        <ion-col size="12">
          <label>Email</label>
          <ion-input type="text" [(ngModel)]="F_EMAIL"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="send_to_me" *ngIf="!SEND_TO_ME">
      <ion-row class="ion-margin">
        <ion-col size="6">
          <label>Your First Name</label>
          <ion-input type="text" [(ngModel)]="S_FIRST_NAME"></ion-input>
        </ion-col>

        <ion-col size="6">
          <label>Your Last Name</label>
          <ion-input type="text" [(ngModel)]="S_LAST_NAME"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin">
        <ion-col size="12">
          <label>Your Email</label>
          <ion-input type="text" [(ngModel)]="S_EMAIL"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin">
        <ion-col size="12">
          <label>Giftee Email</label>
          <ion-input type="text" [(ngModel)]="S_GIFTEE_EMAIL"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin">
        <ion-col size="12">
          <label>Message to giftee</label>
          <ion-input type="text" [(ngModel)]="S_GIFTEE_EMAIL_MESSAGE"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="ion-no-margin ion-no-padding">
      <ion-row class="ion-margin-top ion-margin-start ion-margin-end">
        <ion-col size="6" class="ion-margin-top">
          <label >Total: {{ (this.SELECTED_PRICE[0]?.is_button == true ? this.SELECTED_PRICE[0].price  : CUSTOM_PRICE) | currency: 'EUR'}}</label>
        </ion-col>

        <ion-col size="6">
          <ion-button expand="block" class="" (click)="confirm()"> <ion-text>Confirm</ion-text></ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>
<app-footer></app-footer>
