ion-content {

    --background: #f1f1f1;
    .green-background {
      position: absolute;
      top: 0;
      left: 0;
      height: 40%;
      width: 100%;
      background: linear-gradient(101deg, rgba(3,136,132,1) 5%, rgba(13,144,139,1) 33%, rgba(2,127,123,1) 35%);
      z-index: -1;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
    }
    .card-list {
      background-color: white;
      border-radius: 25px;
      margin: 20px;
      padding: 5px;
      box-shadow:  0px 0px 10px 3px rgba(0, 0, 0, 0.2);
    }
    .product-image-section {
        margin-top: 5%;

        .cart {
            margin-top: -15px;
        }

        .cart-div {

            cursor: pointer;
            background: #fff;
            height: 35px;
            width: 35px;
            // box-shadow: 0 0 10px rgb(0 0 0 / 20%);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: -34x;
                left: -4px;
                width: 125%;
                height: 125%;
                background: #eae9ee;
                z-index: -1;
            }

            ion-icon {
                font-size: 22px;
            }

            ion-badge {
                position: absolute;
                top: -8px;
                right: -9px;
                /* width: 95%; */
                z-index: 2;
            }

        }

    }
    .value {
      font-weight: bold;
      font-size: 30px;
      color: #c53131;
    }
    .description-section {
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      flex-direction: column;
      .product-name {
        font-size: 20px;
      }
      .product-description {
        margin-top: 10px;
      }
    }

    .price-cart {

        .price {

            display: flex;
            flex-direction: column;
            .text {
                font-size: 12px;
                color: gray;
            }

        }

        .add-to-cart {

            ion-button {
                --background: #047473;
                --background-activated: #047473;
                --border-radius: 20px;

            }
        }
    }
}
