<ion-content style="--background: {{this.dataService.BUTTON_COLOR}}; color : {{this.dataService.BUTTON_COLOR}} !important ">
  <app-book-now-header (navigation)="navigation()" [HEADING_TEXT]="this.HEADING" [BOOKING_WITH_STAFF]="true" [IS_BACK]="true"></app-book-now-header>

  <div class="" style="background : {{this.dataService.BUTTON_COLOR}}!important; ">
  </div>
  <ion-card style="color : {{this.dataService.TEXT_COLOR}} !important; " class="page-title">
    <h2>Select a time</h2>
  </ion-card>
  <div class="card-list">
    <ion-grid class="month_name" style="background : {{this.dataService.BUTTON_COLOR}}!important; ">
      <ion-row>
        <ion-col size="12" class="ion-text-center ">
          <ion-text class="current_month_name">{{ CURRENT_MONTH_VALUE }}</ion-text>
          <ion-icon name="calendar-outline" class="ion-float-right" (click)="openPicker()"></ion-icon>

        </ion-col>
      </ion-row>

      <ion-row class="date-range-picker" *ngIf="DAYS_ARRAY">
        <ion-col size="12">
          <ion-slides pager="false" [options]="slideOpts" #mySlider (ionSlideDidChange)="slideChanged()">
            <ion-slide *ngFor="let value of DAYS_ARRAY;let i = index">

              <div class="date-range">
                <div class="day-name">
                  {{value.day_name}}
                </div>
                <ion-text class="ion-text-uppercase" [class.active]="value.is_active"
                [class.disabled]="value.is_disabled"
                (click)="_selectDateRangeSlider(value.day_number, value.is_disabled, value.month, value.year , i)"><b>{{value.day_number}}</b></ion-text>
              </div>
            </ion-slide>
          </ion-slides>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-grid class="all_shift">
      <ion-row>
        <ion-col size="12" class="heading"><ion-text class="ion-text-bold">   </ion-text></ion-col>
        <ion-col size="4" class="ion-text-center ion-margin-top" *ngFor="let shift of ALL_SHIFT"  (click)="_selectTiming(shift.id , shift.is_disabled)">
          <div [class.disbaled_shift] ="shift.is_disabled" style="background-color: {{this.dataService.BUTTON_COLOR}}!important;" *ngIf ="shift.is_active">
            <ion-icon name="time-outline"></ion-icon>
            <ion-text class="time" > {{ shift.time }}</ion-text>
          </div>
          <div [class.disbaled_shift] ="shift.is_disabled" *ngIf ="!shift.is_active">
            <ion-icon name="time-outline"></ion-icon>
            <ion-text class="time" > {{ shift.time }}</ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-modal [isOpen]="IS_CONFIRM_OPEN" class="auto-height">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title style="color : {{this.dataService.TEXT_COLOR}} !important;">Do you want to Continue or Reselect the datetime?</ion-title>
        </ion-toolbar>
      </ion-header>
      <div class="inner-content" style="padding : 10px;">
        <div class="card-list">
          <ion-list lines="none" class="ion-margin-top" style="background-color: {{this.dataService.BACKGROUND_COLOR}} !important;">      
            <ion-item button  class="details" style="color : {{this.dataService.TEXT_COLOR}} !important; "  detail="false">
              <ion-text class="ion-margin-bottom " style="color : {{this.dataService.TEXT_COLOR}} !important;"> Date and Time
                <br/>
                <ion-text style="color : {{this.dataService.TEXT_COLOR}} !important;">{{ DATE }} at {{ STARTING_TIME }}</ion-text>
              </ion-text>
            </ion-item>
            <ion-item button  class="details" style="color : {{this.dataService.TEXT_COLOR}} !important; "  detail="false">
              <ion-text class="ion-margin-bottom " style="color : {{this.dataService.TEXT_COLOR}} !important;"> Duration
                <br/>
                <ion-text style="color : {{this.dataService.TEXT_COLOR}} !important;">{{ TOTAL_DURATION }} minutes, ends at {{ ENDING_TIME }}</ion-text>
              </ion-text>
            </ion-item>
            <!-- <ion-item button  class="details" style="color : {{this.dataService.TEXT_COLOR}} !important; "  detail="false">
              <br/>
              <ion-text class="ion-margin-bottom" style="color : {{this.dataService.TEXT_COLOR}} !important;"> {{ STUDIO_NAME }} Studio</ion-text>
            </ion-item> -->
            <ion-item button  class="details" style="color : {{this.dataService.TEXT_COLOR}} !important; "  detail="false">
              <br/>
              <ion-text class="ion-margin-bottom" style="color : {{this.dataService.TEXT_COLOR}} !important;"> {{ SERVICE_NAME }}</ion-text>
            </ion-item>
          </ion-list>
        </div>
        <ion-button class="ion-margin" shape="round" expand="full" fill="outline" (click)="closeConfirm()"
          >Cancel</ion-button
        >
        <ion-button class="ion-margin" shape="round" expand="full" (click)="confirmPresaved()"
          >Confirm</ion-button
        >
      </div>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="IS_CALNDER_OPEN" [breakpoints]="[0.1, 0.5, 1]" [initialBreakpoint]="0.8" (willDismiss)="_datePickerClosed()">

    <ng-template>
      <ion-calendar [(ngModel)]="date"
          (change)="_onDateSelect($event.format('YYYY-MM-DD'))"
          [options]="options"
          [type]="DATE_TYPE"
          [format]="'YYYY-MM-DD'"
          id="my-custom"
          >
      </ion-calendar>

    </ng-template>
  </ion-modal>


</ion-content>

<app-footer></app-footer>
