<ion-content
  style="--background: {{this.dataService.BUTTON_COLOR}}; color : {{this.dataService.TEXT_COLOR}} !important ">
  <app-book-now-header (navigation)="navigation()" [HEADING_TEXT]="this.HEADING" [BOOKING_WITH_STAFF]="true"
    [IS_BACK]="true"></app-book-now-header>

  <div class="" style="background : {{this.dataService.BUTTON_COLOR}}!important; ">
  </div>
  <div class="card-list">
    <ion-grid class="month_name" style="background : {{this.dataService.BUTTON_COLOR}}!important; ">
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-calendar class="custom-calendar" [(ngModel)]="DATE" (change)="_onDateSelect($event.format('YYYY-MM-DD'))"
            [options]="options" [type]="DATE_TYPE" [format]="'YYYY-MM-DD'" id="my-custom"
            style="--line-height: 0.5; --padding: 2px; width: 100%; max-height: 50vh; overflow: hidden;">
          </ion-calendar>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="all_shift">
      <ion-row *ngFor="let data of DISPLAY_LIST" [id]="data.id">
        <ion-col size="12" class="heading">
          <ion-text class="ion-text-bold ion-text-date" style="color: {{ dataService.BUTTON_COLOR }} !important;">
            {{ data.DATE | date: 'MMMM, dd' }}
          </ion-text>
        </ion-col>
        <ion-col size="4" class="ion-text-center ion-margin-top ion-col-custom" *ngFor="let shift of data.shift_list"
          [class.disbaled_shift]="shift.is_disabled">
          <div class="inner-ion-col-custom" [class.active]="shift.is_active" [class.disbaled_shift]="shift.is_disabled"
            (click)="_selectTiming(data.DATE, shift.id, shift.is_disabled)">
            <ion-icon name="time-outline"></ion-icon>
            <ion-text class="time"> {{ shift.time }} </ion-text>
          </div>
        </ion-col>
        <ion-col *ngIf="data.shift_list.length == 0">
          <div class="no-available-slot-text" style="background-color: {{ dataService.BUTTON_COLOR }} !important;">
            <ion-text> No Available Slots </ion-text>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="DISPLAY_LIST.length == 0">
        <ion-text class="no-available-text"> Not Available </ion-text>
      </ion-row>
    </ion-grid>

  </div>

  <!-- Popup to show service_booking on component load -->
<ion-modal #loadModal [isOpen]="showLoadModal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Booking Details</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeLoadModal()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <p>{{ serviceBooking }}</p>
    </ion-content>
  </ng-template>
</ion-modal>

<!-- Popup to show service_booking after time selection -->
<ion-modal #timeSelectModal [isOpen]="showTimeSelectModal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Booking Confirmation</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeTimeSelectModal()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <p>{{ serviceBooking }}</p>
    </ion-content>
  </ng-template>
</ion-modal>

  <ion-modal [isOpen]="IS_CONFIRM_OPEN" class="auto-height">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title style="color : {{this.dataService.TEXT_COLOR}} !important;">Do you want to Continue or Reselect the
            datetime?</ion-title>
        </ion-toolbar>
      </ion-header>
      <div class="inner-content" style="padding : 10px;">
        <div class="card-list">
          <ion-list lines="none" class="ion-margin-top"
            style="background-color: {{this.dataService.BACKGROUND_COLOR}} !important;">
            <ion-item button class="details" style="color : {{this.dataService.TEXT_COLOR}} !important; "
              detail="false">
              <ion-text class="ion-margin-bottom " style="color : {{this.dataService.TEXT_COLOR}} !important;"> Date and
                Time
                <br />
                <ion-text style="color : {{this.dataService.TEXT_COLOR}} !important;">{{ DATE | date: 'dd/MM/yyyy' }} at
                  {{ STARTING_TIME }}</ion-text>
              </ion-text>
            </ion-item>
            <ion-item button class="details" style="color : {{this.dataService.TEXT_COLOR}} !important; "
              detail="false">
              <ion-text class="ion-margin-bottom " style="color : {{this.dataService.TEXT_COLOR}} !important;"> Duration
                <br />
                <ion-text style="color : {{this.dataService.TEXT_COLOR}} !important;">{{ TOTAL_DURATION }} minutes, ends
                  at {{ ENDING_TIME }}</ion-text>
              </ion-text>
            </ion-item>
            <ion-item button class="details" style="color : {{this.dataService.TEXT_COLOR}} !important; "
              detail="false">
              <br />
              <ion-text class="ion-margin-bottom" style="color : {{this.dataService.TEXT_COLOR}} !important;"> {{
                SERVICE_NAME }}</ion-text>
            </ion-item>
          </ion-list>
        </div>
        <ion-button class="ion-margin" shape="round" expand="full" fill="outline"
          (click)="closeConfirm()">Cancel</ion-button>
        <ion-button class="ion-margin" shape="round" expand="full" (click)="confirmPresaved()">Confirm</ion-button>
      </div>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="SELECT_STAFF_OPEN" class="auto-height-modal">
    <ng-template>
      <div class="list card-list">
        <ion-list lines="none" style="background-color: {{this.dataService.BACKGROUND_COLOR}} !important;">
          <ion-header>
            <ion-toolbar>
              <ion-title
                style="color : {{this.dataService.TEXT_COLOR}} !important; font-size: 16px; text-align: center">Staff
                available for time</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="SELECT_STAFF_OPEN = false" fill="clear">
                  <ion-icon name="close" style="color: {{this.dataService.TEXT_COLOR}} !important;"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-item button *ngFor="let value of this.AVAILABLE_STAFF_LIST" class="staff_list" detail="false"
            style="border-bottom: 1px solid {{this.dataService.TEXT_COLOR}} !important; color: {{this.dataService.TEXT_COLOR}} !important"
            (click)="SelectStaff(value.employee_id)">
            <ion-thumbnail slot="start">
              <img style="border-radius: 50% !important;"
                [src]="value.employeeImg == '' ? this.imageService.DEFAULT_PERSON : value.employeeImg">
            </ion-thumbnail>
            <ion-label style="color : {{this.dataService.TEXT_COLOR}} !important; ">
              <h3>{{ value.firstName }} {{ value.lastName }}</h3>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>

<app-footer></app-footer>