ion-content {

    --background: #f1f1f1;
    .green-background {
      position: absolute;
      top: 0;
      left: 0;
      height: 40%;
      width: 100%;
      background: linear-gradient(101deg, rgba(3,136,132,1) 5%, rgba(13,144,139,1) 33%, rgba(2,127,123,1) 35%);
      z-index: -1;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
    }
    .card-list {
      background-color: white;
      border-radius: 25px;
      margin: 20px;
      padding: 5px;
      box-shadow:  0px 0px 10px 3px rgba(0, 0, 0, 0.2);
    }
    .search-cart-row {

        ion-input {
            border: 1px solid #e6e7e9;
            border-radius: 12px;
            background: #e6e7e9;
            text-indent: 10px;
        }

        .cart {

            ion-tab-button  {
                width: 100%;

                ion-icon {
                    font-size: 35px;
                }
                ion-badge {
                    margin-left: 2px;
                    margin-top: -9px;
                    font-size: 10px;
                }
            }

            .cart-div {

                cursor: pointer;
                background: #fff;
                height: 35px;
                width: 35px;
                // box-shadow: 0 0 10px rgb(0 0 0 / 20%);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    top: -34x;
                    left: -4px;
                    width: 125%;
                    height: 125%;
                    background: #eae9ee;
                    z-index: -1;
                }

                ion-icon {
                    font-size: 22px;
                }

                ion-badge {
                    position: absolute;
                    top: -8px;
                    right: -9px;
                    /* width: 95%; */
                    z-index: 2;
                }

            }
        }
    }

    .tags-category {

        margin-top: 10px;

        ion-slide {
            margin-left: 5%;
        }

        .active {
            background: #047473 !important;
            color: white !important;

        }

        ion-badge {
            padding: 11px;
            border-radius: 27px;
            background: #e6e7e9;
            color: #000;
        }
    }

    .all-products {
        ion-card {
          background: #e6e7e9;
          height: 183px;
          margin: 10px;
        }
        ion-img {
          height: 90px;
        }

        .description-rating {
            margin-top: 5px;
            display: flex;
            flex-direction: column;
            font-size: 12px;

            .description {

                color: #000;
            }
            .rating {
                color: #ffc409;
            }
        }

        .price-cart {

            width: 100;
            display: flex;
            .price {
                margin-top: 5%;
                ion-text {
                    font-size: 12px;
                    font-weight: bold;
                }
            }


            .add-cart {
                width: 100%;
                ion-icon {
                    background-color: #047473;
                    --background-activated: #047473;
                    font-size: 21px;
                    color: white;
                    padding: 3px;
                    border-radius: 50%;
                }
            }

        }
    }
}
