ion-header {

    ion-toolbar { 

        .header-text {
            margin-top: 10px;
            color: #fff;
            font-weight: bold;
        }

        --background: #047473;

        .back {
            padding-top: 4px;
        }

        .ili2 {
            width: 100%;
            border: 1px solid;
            height: 1px;
            top: 15px;
            margin-top: 7px;
        }

        .date-time {
            margin-left: 0.3rem;
        }

        .services {

            margin-left: -0.3rem;
        }

        .staffs {
            margin-left: -0.2rem;
        }

        .confirm {
            margin-left: -0.3rem;
        }

        .circle {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            padding-top: 2px;
            background: #fff;
            border: 3px solid #000;
            color: #000;
            text-align: center;
            font: 20px Arial, sans-serif;
    
          }

        .active {

            border: 1px solid white;
            background: white !important;
            color: #000 !important;
        }
        ul.headli {
            padding: 0px;
            margin: 0px;
        }
        ul.headli li {
            display: inline-block;
            padding: 0 6px;
            width: 25%;
            font-size: 12px;
        }
        span.material-symbols-outlined.rightli {
            font-size: 20px !important;
        }
        span.headlitop {
            padding: 4px 9px;
            font-size: 14px;
            background: #047473;
            margin-bottom: 16px !important;
            color: #fff;
            border-radius: 29px;
            margin-right: 5px;
            margin-left: 3px;
            border: 1px solid white;
        }
        ul.headli  {
            text-align: center;
            position: relative;
            display: flex;
            justify-content: center;
            margin: 10px 0;
        }
        ul.headli li span.headlitop :before {
            content: '';
            position: absolute;
            inset: 0;
            background: #59524f;
            height: 1px;
            width: 100%;
            margin: auto;
            z-index: 1;
        }
        ul.headli li {
            color: #595252;
            padding: 12px 15px;
            font-weight: bold;
        }

        .material-symbols-outlined {
            font-size: 35px;
            color: #fff;
            font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
        }

       .headcontentst {
            padding-left: 8px;
        }
        .ili3 {
            display: flex;
            padding: 0px;
            margin-bottom: 10px;
            padding-left: 2px;
        }
        
        .ili4th {
            padding-bottom: 12px;
        }
       
    }
   
}

