<ion-header>
  <ion-toolbar style="--background: {{this.dataService.BUTTON_COLOR}}; !important">
    <ion-row >
      
      <ion-col size="2">
        <span class="material-symbols-outlined back" (click)="back()" *ngIf="IS_BACK">
          arrow_back
        </span>
      </ion-col>

      <ion-col size="10" *ngIf="BOOKING_WITH_STAFF">
        <div class="header-text">
        
          <ul class="headli" >
            <li>
              <div class="ili3">
                <div class="ili">
                  <span class="headlitop" [class.active] ="HEADING_TEXT == 1" style="background: {{HEADING_TEXT == 1 ? '#FFFFFF' : this.dataService.BUTTON_COLOR}} !important;">1</span> 
                </div>
                <div class="ili2">
                  <!-- <span class="material-symbols-outlined rightli" >
                    arrow_forward
                  </span> -->
                </div>
              </div>
              <ion-text class="headcontentst staffs" > Staff </ion-text>
            </li>

            <li>
              <div class="ili3">
                <div class="ili">
                  <span class="headlitop" [class.active] ="HEADING_TEXT == 2" style="background: {{HEADING_TEXT == 2 ? '#FFFFFF' : this.dataService.BUTTON_COLOR}} !important;">2</span> 
                </div>
                <div class="ili2">
                  <!-- <span class="material-symbols-outlined rightli">
                    arrow_forward
                  </span> -->
                </div>
              </div>
              <ion-text class="services" > Services </ion-text>
            </li>

            <li>
              <div class="ili3">
                <div class="ili ">
                  <span class="headlitop" [class.active] ="HEADING_TEXT == 3" style="background: {{HEADING_TEXT == 3 ? '#FFFFFF' : this.dataService.BUTTON_COLOR}} !important;">3</span> 
                </div>
                <div class="ili2">
                  <!-- <span class="material-symbols-outlined rightli">
                    arrow_forward
                  </span> -->
                </div>
              </div>
              <ion-text class="date-time" > Time </ion-text>
            </li>
            <li>
              <div class="ili4th">
              <span class="headlitop" [class.active] ="HEADING_TEXT == 4" style="background: {{HEADING_TEXT == 4 ? '#FFFFFF' : this.dataService.BUTTON_COLOR}} !important;">4</span> 
             </div>
             <div class="ili4send">
              <ion-text class="confirm" > Confirm </ion-text>
             </div>
            </li>

          </ul>
        </div>
      </ion-col>

      <ion-col size="10" *ngIf="!BOOKING_WITH_STAFF">
        <div class="header-text">
        
          <ul class="headli">
            <li>
              <div class="ili3">
                <div class="ili">
                  <span class="headlitop" [class.active] ="HEADING_TEXT == 1" style="background: {{HEADING_TEXT == 1 ? '#FFFFFF' : this.dataService.BUTTON_COLOR}} !important;">1</span> 
                </div>
                <div class="ili2">
                  <!-- <span class="material-symbols-outlined rightli" >
                    arrow_forward
                  </span> -->
                </div>
              </div>
              <ion-text class="headcontent services" > Services </ion-text>
            </li>

            <li>
              <div class="ili3">
                <div class="ili">
                  <span class="headlitop" [class.active] ="HEADING_TEXT == 2" style="background: {{HEADING_TEXT == 2 ? '#FFFFFF' : this.dataService.BUTTON_COLOR}} !important;">2</span> 
                </div>
                <div class="ili2">
                  <!-- <span class="material-symbols-outlined rightli">
                    arrow_forward
                  </span> -->
                </div>
              </div>
              <ion-text  class="headcontent date-time" > Time  </ion-text>
            </li>

            <li>
              <div class="ili3">
                <div class="ili ">
                  <span class="headlitop" [class.active] ="HEADING_TEXT == 3" style="background: {{HEADING_TEXT == 3 ? '#FFFFFF' : this.dataService.BUTTON_COLOR}} !important;">3</span> 
                </div>
                <div class="ili2">
                  <!-- <span class="material-symbols-outlined rightli">
                    arrow_forward
                  </span> -->
                </div>
              </div>
              <ion-text class="headcontentst staffs" > Staff </ion-text>
            </li>
            <li>
              <div class="ili4th">
              <span class="headlitop" [class.active] ="HEADING_TEXT == 4" style="background: {{HEADING_TEXT == 4 ? '#FFFFFF' : this.dataService.BUTTON_COLOR}} !important;">4</span> 
             </div>
             <div class="ili4send">
              <ion-text  class="headcontent confirm" > Confirm </ion-text>
             </div>
            </li>

          </ul>
        </div>
      </ion-col>
    
    </ion-row>
    
  </ion-toolbar>
</ion-header>