<ion-header>
  <ion-toolbar>
    <ion-row >
      
      <ion-col size="2">
        <span class="material-symbols-outlined back" (click)="back()" *ngIf="IS_BACK">
          arrow_back
        </span>
      </ion-col>

      <ion-col size="10" *ngIf="BOOKING_WITH_STAFF">
        <div class="header-text">
        
          <ul class="headli" >
            <li>
              <div class="ili3">
                <div class="ili">
                  <span class="headlitop" [class.active] ="HEADING_TEXT == 1">1</span> 
                </div>
                <div class="ili2">
                  <!-- <span class="material-symbols-outlined rightli" >
                    arrow_forward
                  </span> -->
                </div>
              </div>
              <ion-text class="headcontentst staffs" style="color : {{this.dataService.TEXT_COLOR}} !important; "> Staff </ion-text>
            </li>

            <li>
              <div class="ili3">
                <div class="ili">
                  <span class="headlitop" [class.active] ="HEADING_TEXT == 2">2</span> 
                </div>
                <div class="ili2">
                  <!-- <span class="material-symbols-outlined rightli">
                    arrow_forward
                  </span> -->
                </div>
              </div>
              <ion-text class="services" style="color : {{this.dataService.TEXT_COLOR}} !important; "> Services </ion-text>
            </li>

            <li>
              <div class="ili3">
                <div class="ili ">
                  <span class="headlitop" [class.active] ="HEADING_TEXT == 3" >3</span> 
                </div>
                <div class="ili2">
                  <!-- <span class="material-symbols-outlined rightli">
                    arrow_forward
                  </span> -->
                </div>
              </div>
              <ion-text class="date-time" style="color : {{this.dataService.TEXT_COLOR}} !important; "> Time </ion-text>
            </li>
            <li>
              <div class="ili4th">
              <span class="headlitop" [class.active] ="HEADING_TEXT == 4">4</span> 
             </div>
             <div class="ili4send">
              <ion-text class="confirm" style="color : {{this.dataService.TEXT_COLOR}} !important; "> Confirm </ion-text>
             </div>
            </li>

          </ul>
        </div>
      </ion-col>

      <ion-col size="10" *ngIf="!BOOKING_WITH_STAFF">
        <div class="header-text">
        
          <ul class="headli">
            <li>
              <div class="ili3">
                <div class="ili">
                  <span class="headlitop" [class.active] ="HEADING_TEXT == 1">1</span> 
                </div>
                <div class="ili2">
                  <!-- <span class="material-symbols-outlined rightli" >
                    arrow_forward
                  </span> -->
                </div>
              </div>
              <ion-text class="headcontent services" style="color : {{this.dataService.TEXT_COLOR}} !important; "> Services </ion-text>
            </li>

            <li>
              <div class="ili3">
                <div class="ili">
                  <span class="headlitop" [class.active] ="HEADING_TEXT == 2">2</span> 
                </div>
                <div class="ili2">
                  <!-- <span class="material-symbols-outlined rightli">
                    arrow_forward
                  </span> -->
                </div>
              </div>
              <ion-text  class="headcontent date-time" style="color : {{this.dataService.TEXT_COLOR}} !important; "> Time  </ion-text>
            </li>

            <li>
              <div class="ili3">
                <div class="ili ">
                  <span class="headlitop" [class.active] ="HEADING_TEXT == 3" >3</span> 
                </div>
                <div class="ili2">
                  <!-- <span class="material-symbols-outlined rightli">
                    arrow_forward
                  </span> -->
                </div>
              </div>
              <ion-text class="headcontentst staffs" style="color : {{this.dataService.TEXT_COLOR}} !important; "> Staff </ion-text>
            </li>
            <li>
              <div class="ili4th">
              <span class="headlitop" [class.active] ="HEADING_TEXT == 4">4</span> 
             </div>
             <div class="ili4send">
              <ion-text  class="headcontent confirm" style="color : {{this.dataService.TEXT_COLOR}} !important; "> Confirm </ion-text>
             </div>
            </li>

          </ul>
        </div>
      </ion-col>
    
    </ion-row>
    
  </ion-toolbar>
</ion-header>