ion-content {
  .green-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 40%;
    width: 100%;
    background: linear-gradient(101deg, rgba(3,136,132,1) 5%, rgba(13,144,139,1) 33%, rgba(2,127,123,1) 35%);
    z-index: -1;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  .sec-green-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 98px;
    width: 100%;
    background: linear-gradient(90deg, rgba(6,84,83,1) 1%, rgba(17,133,132,1) 41%, rgba(15,148,146,1) 74%, rgba(82,212,210,1) 98%);
    z-index: 0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .page-title {
    color: rgb(4, 116, 115) !important;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    h2{
      margin-top: 16px;
      margin-bottom: 16px;
      font-weight: bold;
    }
  }
  .card-list {
    background-color: #047473;
    border-radius: 25px;
    margin: 20px;
    padding: 10px;
    box-shadow:  0px 0px 10px 3px rgba(0, 0, 0, 0.2);
    ion-list {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
  .card-content {
    position: relative;
    background-color: white;
    border-radius: 25px;
    ion-list {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
    .scroll-bar {
        overflow: scroll;
        max-height: 92%;

        .user-name-div {
          display: flex;
          padding: 10px 5px;
          background-color: white;
          border-radius: 26px;
          margin: 15px;
        }
        .user-name {
            ion-icon {
                cursor: pointer;
            }
            ion-text {
              color: #fff;
              border-radius: 50%;
              background-color: #047473;
              font-weight: bold;
              font-size: 25px;
              padding: 8px;
            }
        }
        .user-name-txt {
          color: #047473;
          font-weight: bold;
          margin-left: 10px;
          font-size: 23px;
      }
      .profile-form{
        ion-input {
          border: 1px solid #047473;
          color: #047473;
          border-radius: 5px;
          margin-top: 3px;
        }
        ion-select {
          border: 1px solid #047473;
          color: #047473;
          border-radius: 5px;
          margin-top: 3px;
        }
      }
      .save-btn-div{
        margin-top: 8px;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
      }
      .save-btn {
        --background: linear-gradient(90deg, rgba(6,84,83,1) 1%, rgba(17,133,132,1) 41%, rgba(15,148,146,1) 74%, rgba(82,212,210,1) 98%);
        --background-activated: linear-gradient(90deg, rgba(6,84,83,1) 1%, rgba(17,133,132,1) 41%, rgba(15,148,146,1) 74%, rgba(82,212,210,1) 98%);
        --border-radius: 20px;
        width: 60%;
        ion-text{
          font-weight: bold;
        }
      }
    }

    span.edit_icon {
        position: absolute;
        background: #7e7e7e;
        line-height: 25px;
        height: 30px;
        width: 30px;
        border-radius: 100%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -2px;
        right: 1px;
    }
    ion-text.usr_name {
        position: relative;
    }
}

@media screen and (max-width: 2786px) {
    span.edit_icon {
        height: 41px ;
        width: 41px ;
        top: 10px ;
        right: 18px ;
    }

}

@media screen and (max-width: 786px) {
    span.edit_icon {
        top: -5px !important;
        right: -3px !important;
    }
}

@media screen and (max-width: 580px) {
    span.edit_icon {
        top: -9px !important;
        right: -4px !important;
    }
}

@media screen and (max-width: 412px) {
      span.edit_icon {
        position: absolute;
        background: #ccc;
        line-height: 21px !important;
        height: 21px !important;
        width: 21px !important;
        border-radius: 100%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 11px !important;
        right: -7px !important;
    }
}
