<ion-content style="--background: {{this.dataService.BACKGROUND_COLOR}};">
  <app-header (navigation)="navigation()" (updateUser)="updateUser()" [HEADING_TEXT]="this.HEADING" [IS_BACK]="true" [PROFILE_HEADER_DATA]="PROFILE_HEADER"></app-header>
  <div class="green-background">
  </div>
  <ion-card style="color : {{this.dataService.TEXT_COLOR}} !important; " class="page-title">
    <h2>My Profile</h2>
  </ion-card>
  <div class="card-list">
    <div class="card-content">
      <div class="sec-green-background">
      </div>
      <div class="scroll-bar">
        <ion-grid>
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <div class="user-name-div">
                <div class="user-name">
                  <ion-text class="usr_name" *ngIf ="SHORT_NAME">
                    {{SHORT_NAME}}
                    <!-- <span class="edit_icon">
                      <ion-icon name="pencil" class="pencili-icon" (click)="showForm()"></ion-icon>
                    </span> -->
                  </ion-text>
                </div>
                <ion-text class="user-name-txt">{{FIRST_NAME}} {{LAST_NAME}}</ion-text>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="profile-form">
          <ion-row>
            <ion-col size="12">
              <ion-label><ion-text style="color: {{this.dataService.TEXT_COLOR}};">Email</ion-text></ion-label>
              <ion-input type="email" [(ngModel)]="EMAIL"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-label>
                <ion-text style="color: {{this.dataService.TEXT_COLOR}};">First Name</ion-text>
              </ion-label>
              <ion-input [(ngModel)]="FIRST_NAME"></ion-input>
            </ion-col>
            <ion-col size="6">
              <ion-label>
                <ion-text style="color: {{this.dataService.TEXT_COLOR}};">Last Name</ion-text>
              </ion-label>
              <ion-input [(ngModel)]="LAST_NAME"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label>
                <ion-text style="color: {{this.dataService.TEXT_COLOR}};">Phone</ion-text>
              </ion-label>
              <ion-input [(ngModel)]="PHONE" type="number" (keypress)="numberOnlyValidation($event)"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label><ion-text style="color: {{this.dataService.TEXT_COLOR}};">Gender</ion-text></ion-label>
              <ion-select [(ngModel)]="GENDER" style="color: {{this.dataService.TEXT_COLOR}};">
                <ion-select-option value="MALE">MALE</ion-select-option>
                <ion-select-option value="FEMALE">FEMALE</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label><ion-text style="color: {{this.dataService.TEXT_COLOR}};">Birthday</ion-text></ion-label>
              <ion-input type="date" [(ngModel)]="BIRTHDAY"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="save-btn-div">
          <ion-button class="save-btn" (click)="updateUser()">
            <ion-text>Save</ion-text>
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<app-footer></app-footer>
