ion-content {

    .scroll-bar {
        overflow: scroll;
        max-height: 92%;

        .user-name {
            padding: 10%;
    
            ion-text {
                //border: 2px solid;
                padding: 5%;
                border-radius: 50%;
                background-color: #f2f2f2;
                font-weight: bold;
            }
        }
    
        .divider {
            width: 100%;
            height: 12px;
            background-color: #f2f2f2;
        }
    
        ion-list {
    
            //margin-top: -9px;
            ion-item {
    
            
                ion-label {
                    color: grey;
                }

                ion-input {
                    color: #000;
                }
        
                ion-text {
                    font-size: 75%;
                }
            }
        }
    }

    span.edit_icon {
        position: absolute;
        background: #ccc;
        line-height: 25px;
        height: 25px;
        width: 25px;
        border-radius: 100%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 1px;
        right: -5px;
    }
    ion-text.usr_name.md.hydrated {
        position: relative;
    }
}

@media screen and (max-width: 412px) {
      span.edit_icon {
        position: absolute;
        background: #ccc;
        line-height: 21px !important;
        height: 21px !important;
        width: 21px !important; 
        border-radius: 100%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -4px !important;
        font-size: 11px !important;
        right: -7px !important;
    }
}