ion-popover {
    --background: rgba(40, 173, 218, 0.6);
    --backdrop-opacity: 0.6;
    --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
    --color: white;
    --width: 300px;
  }

  ion-popover ion-content {
    //--background: rgba(40, 173, 218, 0.6);
    --color: #047473;
  }

  ion-popover::part(backdrop) {
    //background-color: rgb(6, 14, 106);
  }

  .green-background {
    height: 280px;
    width: 100%;
    // background-color: #027f7b;
    background: linear-gradient(101deg, rgba(3,136,132,1) 5%, rgba(13,144,139,1) 33%, rgba(2,127,123,1) 35%);
    margin-top: -11px;
    padding-top: 30px;
  }


ion-content {

    .request-tabs {

        padding-left: 0px;
        padding-right: 0px;

        ion-row {
            text-align: center;
            color: white;
            margin-left: 30px;
            margin-right: 30px;

            div {
              margin-bottom: 10px;
              margin-top: 10px;
            }
            .active {
                font-weight: bold;
                background-color: white;
                color: #047473 !important;
                border-radius: 15px;
            }

            .inactive {
                //border-bottom: 3px solid #bdbcbc;
                border-radius: 15px;
            }

            ion-text {
                margin-left: 5px;
            }
        }

    }
    .page-title {
      color: rgb(4, 116, 115) !important;
      border: 2px solid;
      border-radius: 10px;
      box-shadow: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 10px;
      h1{
        margin-top: 16px;
        margin-bottom: 16px;
        font-weight: bold;
      }
    }

    .list {
        max-height: 65%;
        overflow: scroll;
        overflow-x: hidden;
    }
    .card-list {
      background-color: white;
      border-radius: 25px;
      margin-top: -48px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      box-shadow:  0px 0px 10px 3px rgba(0, 0, 0, 0.2);
    }

    .staff_list {
        margin: 10px;
        --background: #fff;
        color: #047473;
        border-bottom: 1px solid #047473;

        ion-thumbnail {
            border-radius: 15px !important;
            padding: 3px;
            border: 1px solid;
            overflow: hidden;
        }

        h3{
            font-weight: bold;
            font-size: 20px;
        }
    }

    .staff-details {

        color: #047473;
        font-weight: bold;
        font-size: 13px;

        ion-avatar {
            width:70% !important;
            height : 75% !important;
            max-width: 100px !important;  //any size
            max-height: 100px !important;
            margin: 10px;
        }

        .comment {
            margin-right: 30px;
        }
    }

    .itemBtns {
        position: relative;
        z-index: 4;
    }

    .service_detail {
        // margin: 5px;
        border-radius: 5px;
        --background: #f6f5fa;
        color: #047473;
        border: 2px solid;
        .service_count {
            font-size: 15px;
        }

        h3{
            font-weight: bold;
            font-size: 15px;
        }

        .toggle {
            color: #000;
            margin-left: 15px;
        }

    }

    ion-label {
        display: flex;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
        ion-text {
            margin-left: auto;
            margin-right: 5px;
        }
        ion-checkbox {
            min-width: 26px;
                svg {
                    border-radius: 2px;
                }
        }
    }
    .service_order_list_grid{
      padding: unset !important;
    }
    .service_order_list {

        ion-icon {
            margin-left: 0px;
            // margin-left: 5px;
        }
        ion-label {
            // margin-left: 5px;

        }

        ion-checkbox {

            --background-checked: #047473;
        }

    }

    .book_now {

        .service_selected_price {
            font-weight: bold;
            font-size: 15px;
            margin-top: 10px;
        }
        ion-button {
            --background:  #047473;
            --background-activated: #047473;

            .booking-arrow {
                margin-left: 20px;
                font-size: 25px;
            }
        }
    }
}
