
ion-content {
    background-color: white;
    .green-background {
      height: 280px;
      width: 100%;
      // background-color: #027f7b;
      background: linear-gradient(101deg, rgba(3,136,132,1) 5%, rgba(13,144,139,1) 33%, rgba(2,127,123,1) 35%);

    }
    .app-logo {
        height: 140px;
        border-radius: 20px;
        background-color: white;
        margin-left: 30px;
        margin-right: 30px;
        ion-img {
          margin-left: auto;
          margin-right: auto;
          width: 113px;
        }
    }

    .card-list {
      background-color: white;
      border-radius: 25px;
      margin-top: -30px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      padding: 10px;
      box-shadow:  0px 0px 10px 3px rgba(0, 0, 0, 0.2);
    }

    ion-card {

        background-color: #027f7b;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;

        ion-icon {
            font-size: 50px;
            color: #fff;
        }

        ion-text {
            color: #fff;
            font-weight: bold;
            font-size: 14px;
        }

        ion-img {
            margin-left: auto;
            margin-right: auto;
            width: 90px;
        }
    }

    .right_card{
        background-color: #0d908b !important;
    }

    .some_space {
        margin-top: 0px;
    }

    .material-symbols-outlined {
        font-size: 50px;
        color: #fff;
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }


}
