
ion-content {
    // background-color: white;
    // --background: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
      position: relative;
      // height: 100vh;
    .green-background {
      position: absolute;
      top: 0;
      left: 0;
      height: 40%;
      width: 100%;
      background: linear-gradient(101deg, rgba(3,136,132,1) 5%, rgba(13,144,139,1) 33%, rgba(2,127,123,1) 35%);
      z-index: -1;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
    }
    .app-logo {
        height: 140px;
        border-radius: 20px;
        background-color: white;
        margin-left: 30px;
        margin-right: 30px;
        ion-img {
          margin-left: auto;
          margin-right: auto;
          width: 113px;
          height: auto;
        }
    }

    .card-list {
      background-color: white;
      border-radius: 25px;
      margin: 20px;
      padding: 5px;
      box-shadow:  0px 0px 10px 3px rgba(0, 0, 0, 0.2);
    }

    ion-card {
        background-color: #027f7b;
        cursor: pointer;
        border-radius: 0px;
        height: 125px;
        display: flex;
        justify-content: center;
        align-items: center;

        ion-icon {
            font-size: 50px;
            color: #fff;
        }

        ion-text {
            color: #fff;
            font-weight: bold;
            font-size: 13px;
        }

        ion-img {
            margin-left: auto;
            margin-right: auto;
            width: 50px;
            height: 50px;
        }
    }

    .right_card{
        background-color: #0d908b !important;
    }
    .first_row {
      .left_card{
        border-top-left-radius: 20px;
      }
      .right_card{
        border-top-right-radius: 20px;
      }
    }
    .last_row {
      .left_card{
        border-bottom-left-radius: 20px;
      }
      .right_card{
        border-bottom-right-radius: 20px;
      }
    }
    .material-symbols-outlined {
        font-size: 50px;
        color: #fff;
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }
}
