ion-content {
  .green-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 40%;
    width: 100%;
    background: linear-gradient(101deg, rgba(3,136,132,1) 5%, rgba(13,144,139,1) 33%, rgba(2,127,123,1) 35%);
    z-index: -1;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  .card-list {
    background-color: white;
    border-radius: 25px;
    margin: 20px;
    padding: 5px;
    box-shadow:  0px 0px 10px 3px rgba(0, 0, 0, 0.2);
  }
    .list {
        max-height: 65%;
        min-height: 65%;
        overflow: scroll;
        overflow-x: hidden;
    }

    .staff_list {
        margin: 25px;
        border-radius: 5px;
        --background: #047473;
        color: #fff;

        ion-thumbnail {
            border-radius: 50% !important;
            overflow: hidden;
        }

        h3{
            font-weight: bold;
            font-size: 15px;
        }
    }
}
